target
.vscode
**/*DS_Store
akhq
tarpaulin-report.html
lol
lol/rust/Cargo.lock
semver-checks/
demo.sh
ee.json

crates/**/*.cdx.xml
crates/**/*.cdx.json
crates/wasm-blueprints/golang/go.sum
kpow.env
.idea/
lol-export
crates/wasm-blueprints/**/module.wasm
crates/wasm-blueprints/rust/Cargo.lock
yozefu/
dump
docs/avro-tools.jar
yozefu-exports/
.env
certificates
docs/schemas/kafka.properties
.jj
mutants.out
mutants.out.old
docs/.vitepress/dist
docs/.vitepress/cache
docs/node_modules